@media screen and (max-width: 1024px) {
    .banner .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .banner .container .content h4 {
        text-align: center;
    }

    .services .services-component {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .university-section .uni{
        width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
    }
    .header-main .header-content {
        display: flex;
        flex-direction: column;
        padding: 5px;
        align-items: center;
    }
    .header-main .header-content .top-nav {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        align-items: center;
    }
    .container1 {
        position: relative;
       display: grid;
       grid-template-columns: repeat(1 , 1fr);
       grid-gap:10px;
       margin-top: 50px ;
      }  
    
}

@media screen and (max-width: 640px) {
    .services .services-component {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .services .services-component .div1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .university-section .uni{
        width: 100%;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    
    }
}




